{% extends 'base.html' %}

{% block content %}
        <h3 style="margin-top: 30px; padding-left: 10px;">Registered Users</h3>
        <table border="2" style="margin-left: 10px;">
            <tr><th>Name</th>
                <th>Email</th>
                <th>DOB</th>
                <th>Phone_no</th>
            </tr>
        {% for user in object_list %}
            <tr>
                <td><a href="{% url 'read' user.id %}" style="text-decoration: none; color: black;">&nbsp;{{user.Name}}</a></td>
                <td>&nbsp;{{user.Email}}</td>
                <td>&nbsp;{{user.DOB}}</td>
                <td>&nbsp;{{user.Phone_no}}</td>
            </tr> 
        {% endfor %}
        </table>
{% endblock %}